{% extends 'base.html' %}
{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <article class="tile">
            <center>
                <p>Statistics</p>
            </center>
        </article>
        <div class="tile">
            <article class="tile">
                <p class="small">Recommended Doese: {{ substance.req_dose }}</p>
            </article>
            <article class="tile">
                <p class="small">Views = {{ substance.view_count }}</p>
            </article>
        </div>
    </div>
</div>

<a href="{% url 'trip_create' substance.id %}">Create a trip</a>
<br>
<br>
<br>

<div class="tile is-ancestor">
   <p class="title is-parent">{{ substance.name }}</p>
    <article class="tile is-child box">
<p>{{ substance.description }}</p>
    </article>
    <article class="tile is-child box">
<p>{{ substance.effects }}</p>
    </article>
</div>

<div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <article class="tile is-vertical">
                    <center>
                        <p>Trip Reports</p>
                    </center>
            </article>
  <br>
{% for report in trips %}

<div class="tile is-ancestor">
    <div class="tile is-4 is-parent">
        <div class="tile is-child">
          <center>
            <p class="title">{{ report.trip_name }}</p>
            <figure class="image">
                <img src="https://www.sciencenews.org/sites/default/files/2018/11/main/articles/110718_LS_marijuana-adolescent-brain_feat.jpg" class="is-rounded" >
            </figure>
            </center>
        </div>
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
            <p>When: {{ report.date }}</p>
            <a href=#><p>{{ report.user_key }}</p></a>
            <p>Method? {{ report.method }}</p>
            <p>Mixed with? {{ report.other_drugs_taken }}</p>
            <p>{{ report.effects.effects }}</p>
        </div>
        <div class="tile is-child box">
            <p class="title">text_content</p>
            <p>{{ report.text_content }}<a href='{% url 'report_detail' report.id %}'>Read the rest</a></p>
                {% if report.user_key == request.user %}
                <a href="{% url 'trip_delete' report.id %}">Delete</a>
                <a href="{% url 'trip_update' report.id %}">Update</a>
                {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
