{% extends 'base.html' %}
{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <article class="tile">
            <center>
                <p>Statistics</p>
            </center>
        </article>
        <div class="tile">
            <article class="tile">
                <p class="small">Recommended Doese: {{ substance.req_dose }} Do not delete. This is all placeholder.</p>
            </article>
            <article class="tile">
                <p class="small">Views = {{ substance.view_count }}- Do not delete. This is all placeholder.</p>
            </article>
        </div>
    </div>
</div>


<br>
<br>
<br>

<div class="tile is-ancestor">
   <p class="title is-parent">{{ substance.name }}</p>
    <article class="tile is-child box">
<p>{{ substance.description }}</p>
    </article>
    <article class="tile is-child box">
<p>{{ substance.effects }}</p>
    </article>
</div>

<div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <article class="tile is-vertical">
                    <center>
                        <p>Trip Reports</p>
                    </center>
            </article>
            <article class="tile is-child ">
                <center>
                Lorem Ipsum
                </center>
            </article>
            <article class="tile is-child">
                <center>
                    Lorem Ipsum
                </center>
            </article>
            <article class="tile is-child">
                <center>
                    Lorem Ipsum
                </center>
            </article>
            <article class="tile is-child">
                <center>
                    Lorem Ipsum
                </center>
            </article>
            <article class="tile is-child">
                <center>
                    Lorem Ipsum
                </center>
            </article>
            <article class="tile is-child">
                <center>
                    Lorem Ipsum
                </center>
            </article>
            <article class="tile is-child">
                <center>
                    Lorem Ipsum
                </center>
            </article>
        </div>

</div>


{% endblock %}
