{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>That Time in the Desert</title>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="{% sass_src 'styles/style.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="navbar-fixed">

    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <nav class="navbar">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <figure class="image is-32x32">
                        <a href="/"><img src="static/assets/img/nav/sherpa_nav.png"></a>
                    </figure>
                </a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'trips_all' %}">Trip Reports</a>
                        <a href="{% url 'substances_all' %}">Substances</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                        <a href="{% url 'signup' %}">Sign Up</a>
                        <a href="{% url 'login' %}">Log In</a>
                        {% endif %}
            </div>
            <div>
        <ul>
            <figure class="image is-32x32">
                <a href="/"><img src="static/assets/img/nav/sherpa_nav.png"></a>
            </figure>
        <ul class="right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'trips_all' %}">Trip Reports</a></li>
            <li><a href="{% url 'substances_all' %}">Substances</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
            </div>
        </nav>
    </footer>
</body>

</html>