{% extends 'base.html' %}
{% block content %}
<center>
<div class="tile is-ancestor is-vertical">
    <center><h1 class="title">Trip Reports</h1></center>
</div>
</center>
<br>

<div class="tile is-ancestor">
    <div class="tile is-4 is-parent">
        <div class="tile is-child">
            <center>
            <p class="title">Marijuana Review 1</p>
            <figure class="image">
                <img src="https://www.sciencenews.org/sites/default/files/2018/11/main/articles/110718_LS_marijuana-adolescent-brain_feat.jpg" class="is-rounded" >
            </figure>
            </center>
        </div>
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
            <p>What drug is this for: <a href="*">drug_key</a></p>
            <p>When: date</p>
            <a href=*><p>User or Anon?</p></a>
            <p>Method? other_drugs taken</p>
            <p>Mixed with? other_drugs taken</p>
            <p>Method? other_drugs taken</p>
        </div>
        <div class="tile is-child box">
            <p class="title">text_content</p>
            <p>irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href='*'>Read the rest</a></p>
        </div>
    </div>
</div>
<br>
<br>
<div class="tile is-ancestor">
    <div class="tile is-4 is-parent">
        <div class="tile is-child">
            <center>
                <p class="title">Marijuana Review 2</p>
                <figure class="image">
                    <img src="https://www.sciencenews.org/sites/default/files/2018/11/main/articles/110718_LS_marijuana-adolescent-brain_feat.jpg"
                        class="is-rounded">
                </figure>
            </center>
        </div>
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
            <p>What drug is this for: <a href="*">drug_key</a></p>
            <p>When: date</p>
            <a href=*><p>User or Anon?</p></a>
            <p>Method? other_drugs taken</p>
            <p>Mixed with? other_drugs taken</p>
            <p>Method? other_drugs taken</p>
        </div>
        <div class="tile is-child box">
            <p class="title">text_content</p>
            <p>irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href='*'>Read the rest</a></p>
        </div>
    </div>
</div>
<br>
<br>
<div class="tile is-ancestor">
    <div class="tile is-4 is-parent">
        <div class="tile is-child">
            <center>
                <p class="title">Mushroom Review 3</p>
                <figure class="image">
                    <img src="https://amp.businessinsider.com/images/58920288475752572a8b591a-960-720.jpg"
                        class="is-rounded">
                </figure>
            </center>
        </div>
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
            <p>What drug is this for: <a href="*">drug_key</a></p>
            <p>When: date</p>
            <p>User or Anon?</p>
            <p>Method? other_drugs taken</p>
            <p>Mixed with? other_drugs taken</p>
            <p>Method? other_drugs taken</p>
        </div>
        <div class="tile is-child box">
            <p class="title">text_content</p>
            <p>irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href='*'>Read the rest</a></p>
        </div>
    </div>
</div>

{% endblock %}
