@media only screen and (max-width: 700px) {
.mobi_nav {
    overflow: hidden;
    height: 32px;
    width: 32px;
  }

.mobi_nav_links {
    display: none;
  }

.navbar-menu {
    display: none;
    }

}


.mobi_nav_links {
    display: none;
  }



body {
    background-color: grey;
    margin: 0px;
    font-size: 16px;
}

.nav_links {
    display: none;
  }

.nav_links a {
    background: slateblue;

  }
.topnav a {
    color: slategrey;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

.cactus .cactus_mobi {
    margin: 0px
  }

.topnav a:hover {
    color: white
}
