{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>That Time in the Desert</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="{% sass_src 'styles/style.scss' %}" rel="stylesheet" type="text/css" />

</head>
    <header>
        <nav class="navbar mobi_nav has-background-grey-dark"role="navigation">
            <div class="navbar-brand">
                                    <div class="mobi_nav_links buttons are-small">
                                        {% if user.is_authenticated %}
                                        <a class="button is-light" href="{% url 'profile' %}">Profile</a>
                                        <a class="button is-light" href="{% url 'trips_all' %}">Trip Reports</a>
                                        <a class="button is-light" href="{% url 'substances_index' %}">Substances</a>
                                        <a class="button is-light" href="{% url 'logout' %}">Log Out</a>
                                        {% else %}
                                        <a class="button is-dark" href="{% url 'signup' %}">Sign Up</a>
                                        <a class="button is-dark" href="{% url 'login' %}">Log In</a>
                                        {% endif %}
                                    </div>
                <div class="mobi_nav navbar-burger">
                    <figure class="image is-32x32">
                        <img src="{% static 'assets/img/nav/sherpa_nav.png' %}" class="cactus_mobi">
                    </figure>
                </div>
            </div>
        </nav>
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        <nav class="navbar has-background-black-ter nav-fixed" role="navigation">
            <div class="navbar-menu">
                <figure class="image is-64x64 cactus">
                    <img src="{% static 'assets/img/nav/sherpa_nav.png' %}" class="cactus">
                </figure>
                    <div class="nav_links buttons are-large">
                        {% if user.is_authenticated %}
                        <a class="button is-black" href="{% url 'profile' %}">Profile</a>
                        <a class="button is-black" href="{% url 'trips_all' %}">Trip Reports</a>
                        <a class="button is-black" href="{% url 'substances_index' %}">Substances</a>
                        <a class="button is-light" href="{% url 'experiences' %}">Experiences</a>
                        <a class="button is-black" href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                        <a class="button is-black" href="{% url 'signup' %}">Sign Up</a>
                        <a class="button is-black" href="{% url 'login' %}">Log In</a>
                        {% endif %}
                    </div>
            </div>
        </nav>
    </footer>

</html>
