{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
    <div class="disp-none-opener">
     {% endif %}
        <div id="startup" class="title-container has-text-center sub-title-vid">
            Tell me about a time...
            <p class="subtitle-container">(Hover over to enter)</p>
        </div>
        <div class="start-video">
            <video autoplay muted class="view_vid" id="sky-high">
                <source src="/static/assets/vid/opener/sky.mp4" type="video/mp4">
            </video>
            <div id="subtitle-sky" class="title-container has-text-center sub-title-vid">
                When you were higher than the sky
            </div>
        </div>
        <div class="start-video">
            <video autoplay muted class="view_vid" id="club-kid">
                <source src="/static/assets/vid/opener/club-kid.mp4" type="video/mp4">
            </video>
            <div id="subtitle-club" class="bottom-title-container has-text-center sub-title-vid">
                When you partied like you were invincible
            </div>
        </div>
        <div class="start-video">
            <video autoplay muted class="view_vid" id="art-trip">
                <source src="/static/assets/vid/opener/art.mp4" type="video/mp4">
            </video>
            <div id="subtitle-art" class="bottom-title-container has-text-center sub-title-vid">
                When art walked on walls
            </div>
            <div id="subtitle-end" class="title-container has-text-center sub-title-vid">
                Tell me about...
            </div>
        </div>
    {% if user.is_authenticated %}
    </div>
    {% else %}
    <div class="disp-none">
    {% endif %}
        <section class="hero is-fullwidth primary-cont-flex">
            <div class="button is-large sticky-signup is-outlined is-info">
                Sign up
            </div>
                <video autoplay muted loop id="ttitd-vid">
                    <source src="/static/assets/vid/opener/TTITD.mp4" type="video/mp4">
                </video>
            <div class="hero-head flex-column transparent-back">
                <div class="has-text-centered is-fullwidth">
                    <div class="title-container has-text-right title-padding">
                        That Time in the Desert
                    </div>
                    <div class="title-container has-text-right container-back-overlay">
                        r
                    </div>
                    <br><br><br>
                </div>
            </div>
        </section>        
        <div class="hero-body is-fullwidth is-transparent section-open-pad">
            <div class="has-text-centered black-box is-fullwidth">
                <h1 class="title black-box title is-1">
                    Mission
                </h1>
                <br><br>
                <h2 class="subtitle has-text-white-ter is-3">
                We want to create a community of free education for individuals to 
                share their experiences that will help newbies make
                their own decision of whether to partake. Safety first, fun second.
                </h2>
                <br><br>
            </div>
            <div class="has-text-centered transparent_box open-back">
                <div class="button is-large sticky-signup is-outlined is-info">
                    Sign up
                </div>
                <h1 class="title has-text-danger is-1">
                    Section 2
                </h1>
                <br><br>
                <h2 class="subtitle has-text-white-ter is-3">
                    Vel pretium lectus quam id leo in vitae turpis massa. Facilisi etiam dignissim diam quis enim. Consectetur adipiscing
                    elit duis tristique. Urna duis convallis convallis tellus id interdum. Mauris a diam maecenas sed enim ut.
                </h2>
            </div>
            <div class="has-text-centered black-box">
            <div class="button is-large sticky-signup is-outlined is-info">
                Sign up
            </div>
                <br><br><br><br>
                <h1 class="title has-text-danger is-1">
                    Section 3
                </h1>
                <br><br>
                <h2 class="subtitle has-text-white-ter is-3">
                    Rhoncus aenean vel elit scelerisque mauris. Ut tortor pretium viverra suspendisse potenti nullam ac. Aliquam purus sit
                    amet luctus venenatis. Pulvinar pellentesque habitant morbi tristique senectus et. Bibendum at varius vel pharetra vel
                    turpis nunc eget. Tincidunt vitae semper quis lectus nulla at.
                </h2>
            </div>
            <br><br><br><br>
            <div class="has-text-centered transparent_box open-back">
                <div class="button is-large sticky-signup is-outlined is-info">
                    Sign up
                </div>
                <h1 class="title has-text-danger is-1">
                    Section 4
                </h1>
                <br><br>
                <h2 class="subtitle has-text-white-ter is-3">
                    sus feugiat in ante metus dictum. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Nibh
                    venenatis cras sed felis eget velit aliquet sagittis. Sagittis purus sit amet volutpat consequat. Porta lorem mollis
                    aliquam ut porttitor leo. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Id leo in vitae turpis massa.
                    Bibendum neque egestas congue quisque egestas diam. Metus dictum at tempor commodo ullamcorper a. Id cursus metus
                    aliquam eleifend mi in nulla posuere.
                </h2>
            </div>
                <br><br><br><br>
            <div class="has-text-centered transparent_box open-back">
                <div class="button is-large sticky-signup is-outlined is-info">
                    Sign up
                </div>
                <h1 class="title has-text-danger is-1">
                    Section 5
                </h1>
                <br><br>
                <h2 class="subtitle has-text-white-ter is-3">
                    Vel pretium lectus quam id leo in vitae turpis massa. Facilisi etiam dignissim diam quis enim. Consectetur
                    adipiscing
                    elit duis tristique. Urna duis convallis convallis tellus id interdum. Mauris a diam maecenas sed enim ut.
                </h2>
            </div>
            <div class="has-text-centered transparent_box open-back-2">
                <div class="button is-large sticky-signup is-outlined is-info">
                    Sign up
                </div>
                <h1 class="title has-text-danger is-1">
                    Section 6
                </h1>
                <br><br>
                <h2 class="subtitle has-text-white-ter is-3">
                    Vel pretium lectus quam id leo in vitae turpis massa. Facilisi etiam dignissim diam quis enim. Consectetur
                    adipiscing
                    elit duis tristique. Urna duis convallis convallis tellus id interdum. Mauris a diam maecenas sed enim ut.
                </h2>
            </div>
            </div>
        </div>
        <div class="hero-foot">

        </div>
    {% if user.is_authenticated %}
    {% else %}
    </div>
    {% endif %}
{% endblock %}
