{% extends 'base.html' %}
{% block content %}

<nav class="level">
    <div class="level-left">
        <div class="level-item has-text-centered">
            <div>
                <p class="title"><a href="*">drug_key</a></p>
            </div>
        </div>

    </div>
    <div class="level-right">
                <p class="level-item"><strong><a href="*">Date</a></strong></p>
        <p class="level-item"><strong><a href="*">User or Anon</a></strong></p>
        
    </div>
</nav>

<p class="is-medium"> text-content </p>
<p class="is-medium"> Est placerat in egestas erat imperdiet sed. Ornare arcu odio ut sem nulla pharetra diam. Sit amet purus gravida quis
blandit turpis cursus. Felis eget velit aliquet sagittis id consectetur purus. Libero nunc consequat interdum varius sit
amet mattis vulputate. Sit amet porttitor eget dolor morbi non. Commodo sed egestas egestas fringilla phasellus faucibus
scelerisque eleifend donec. Volutpat ac tincidunt vitae semper quis lectus nulla. Et netus et malesuada fames ac turpis.
Vitae suscipit tellus mauris a diam maecenas sed enim. Viverra nibh cras pulvinar mattis nunc sed blandit. 
</p>

<br>

<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <center>
            <article class="tile has-text-centered">
                    <p class="has-text-centered">Comments</p>
            </article>
        </center>
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child ">
                    <center>
                        user_key
                    </center>
                </article>
                <article class="tile is-child">
                    <center>
                        Est placerat in egestas erat imperdiet sed. Ornare arcu odio ut sem nulla pharetra diam. Sit amet purus gravida
                        quis
                        blandit turpis cursus. Felis eget velit aliquet sagittis id consectetur purus. Libero nunc consequat interdum
                        varius sit
                        amet mattis vulputate. Sit amet porttitor eget dolor morbi non. Commodo sed egestas egestas fringilla phasellus
                        faucibus
                        scelerisque eleifend donec. Volutpat ac tincidunt vitae semper quis lectus nulla. Et netus et malesuada fames ac
                        turpis.
                        Vitae suscipit tellus mauris a diam maecenas sed enim. Viverra nibh cras pulvinar mattis nunc sed blandit.
                    </center>
                </article>
            </div>
        </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child ">
                            <center>
                                user_key
                            </center>
                        </article>
                        <article class="tile is-child">
                            <center>
                                Est placerat in egestas erat imperdiet sed. Ornare arcu odio ut sem nulla pharetra diam. Sit amet purus
                                gravida
                                quis
                                blandit turpis cursus. Felis eget velit aliquet sagittis id consectetur purus. Libero nunc consequat
                                interdum
                                varius sit
                                amet mattis vulputate. Sit amet porttitor eget dolor morbi non. Commodo sed egestas egestas fringilla
                                phasellus
                                faucibus
                                scelerisque eleifend donec. Volutpat ac tincidunt vitae semper quis lectus nulla. Et netus et malesuada
                                fames ac
                                turpis.
                                Vitae suscipit tellus mauris a diam maecenas sed enim. Viverra nibh cras pulvinar mattis nunc sed
                                blandit.
                            </center>
                        </article>
                    </div>
            </div> 
    </div>
</div>


{% endblock %}